%h1 bevestig je inschrijving

%ul.entry
  Onderdeel gegevens:
  = render :partial => '/event_participations/event_participation', :collection => @event_participations
  
  = form_for @entry, :url => wizard_path, :validate => true do |f|
    .submit_field
      = f.submit