= link_to "Maak een account", new_participant_registration_path, :class => "btn btn-large"
of
= link_to "Verbind met Facebook", participant_omniauth_authorize_path(:facebook), :class => "btn btn-large btn-primary"
    
.row-fluid
  %div.span4
    %h1 Inloggen
    %p Als je al eerder een account had aangemaakt, kun je hier meteen inloggen
    = link_to "Inloggen", login_path, :class => "btn"
  %div.span4
    %h1 Deelnemerlijst
    %p Klik hieronder om de meest actuele deelnemerslijst te bekijken
    = link_to "Deelnemers", events_path, :class => "btn"