.navbar
  .navbar-inner
    .container-fluid
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </a>
      = link_to "NSK Inschrijven", root_path, :class => "brand"
      
      .nav-collapse.collapse
        %ul.nav
          %li
            = link_to "Home", root_path
          %li
            = link_to "Wedstrijden", meetings_path
      
        -if participant_signed_in?
          %p.navbar-text.pull-right
            Ingelogd als
            = current_participant.name